$btn-radius: 5px;
%btn{
  display: inline-block;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  background: transparent
}

button{
  @extend %btn;
}
.btn{
    @extend %btn;
    padding: 1rem 2rem;
    border-radius: $btn-radius;
    color: $white;
    transition: 0.3s background-color ease-in-out;
}

.btn-block{
  width: 100%;
  display: block;
  text-align: center;
  padding: 0.5em;
  font-size: 2rem;
}

.btn-group{
  & > .btn{
    border-radius: 0;
    padding: 0.7rem 1.4rem;
    font-size: 1.4rem;
    &:not(:last-child){
      border-right: 1px solid darken($primary, 5%);
    }
    &:nth-child(1){
      border-radius: $btn-radius 0 0 $btn-radius;
    }
    &:last-child{
      border-radius: 0 $btn-radius $btn-radius 0;
    }
  }
}

.btn {
    @each $name, $color in $theme {
      &-#{$name} {
        background-color: $color;
        &:hover{
            background-color: lighten($color, 5%);
        }
      }
    }
  }