table{
  border-collapse: collapse;
  & > thead > tr > th,
  & > tbody > tr > td{
    text-align: left;
    padding: 1rem;
  }
  & > thead > tr > th{
  }
  & > tbody > tr > td{

  }
}
.table{
  overflow: auto;
}
