.app{
    &-sidebar{

        &-toggle{
            position: absolute;
            left: calc($app-sidebar-width + 2rem);
            display: block;
            padding: 1rem 2rem;
            border-radius: 5px;
            background-color: $gray-400;
            color: $white;
            border: 1px solid $gray-150;
        }

        position: fixed;
        left: 0;
        transform: translateX(-100%);
        transition: 0.25s transform ease-in-out;
        top: 0;
        width: $app-sidebar-width;
        height: 100%;
        background-color: $white;
        padding: 2rem;
        border-right: 1px solid $gray-150;
        display: flex;
        flex-direction: column;
        &-logo{
            display: block;
            width: 100%;
            max-width: 15rem;
            margin-bottom: 5rem;
        }
        &-nav{
            flex: 1;
            overflow: auto;
            & > a{
                display: flex;
                align-items: center;
                color: $black;
                font-weight: 600;
                & > *{
                    &:not(:last-child){
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}

body.menu-open{
    .app-sidebar{
        transform: translateX(0);
        &-toggle{
            background: $white;
            color: $gray-400;
        }
    }
}