.editor{
    position: relative;
    min-height: 100vh;
    margin-right: $sidebar-width;
    transition: 0.25s ease-in-out margin-left;
}

body{
    &.menu-open{
        .editor{
            margin-left: $app-sidebar-width;
            margin-right: $sidebar-width;
        }
    }
}