$sidebar-padding: 1rem 2rem;
.sidebar{
    position: fixed;
    right: 0;
    top: 0;
    background: $white;
    height: 100%;
    overflow: auto;
    width: $sidebar-width;

    &-section{
        padding: $sidebar-padding;
        &:not(:last-child){
            border-bottom: 1px solid $gray-150;
        }
        &-title{
            font-weight: 500;
        }

        .form{
            &-row{
                display: flex;
                align-items: center;
                & > *{
                    &:not(:last-child){
                        margin-right: 1rem;
                    }
                }
                label{
                    font-weight: 600;
                    display: block;
                    margin-bottom: 0;
                }
            }
        }
    }
}