.sidebar{
    &-tab{
        padding: 2rem;
        border-bottom: 1px solid $gray-150;
        &-list{
            border-radius: 1rem;
            background-color: $gray-150;
            padding: 1rem;
            display: flex;
            align-items: center;
            & > li{
                flex: 1;
                & > a{
                    text-align: center;
                    display: block;
                    padding: 1rem 2rem;
                    border-radius: 1rem;
                    color: $gray-200;
                }
                &.active{
                    & > a{
                        color: $primary;
                        background-color: $white;
                    }
                }
            }
        }
    }
}